# Node modules (no se deben incluir en el repositorio)
node_modules/

# Archivos de log
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos generados por el entorno
.DS_Store
Thumbs.db

# Archivos de configuración local (por ejemplo, variables de entorno)
.env

# Archivos de sistema de IDEs o editores de código
.vscode/
.idea/

# Archivos de compilación o distribución (si se generan)
dist/
build/

# Otros archivos temporales
*.tmp
*.swp
